
<!--sidebar start-->
<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="sidebar">
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Topics</span>
                </a>
                <ul class="sub">
                    <li><a th:href="@{/post/getAllActivePosts}">Active Posts</a></li>
                    <li><a th:href="@{//post/getAllPendingPosts}">Pending Posts</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-tasks"></i>
                    <span>Users</span>
                </a>
                <ul class="sub">
                    <li><a th:href="@{//user/getAllActiveUsers}">Active Users</a></li>
                    <li><a th:href="@{/user/getAllBlockedUsers}">Blocked Users</a></li>
                </ul>
            </li>
            <li>
                <a href="${pageContext.request.contextPath}/ns?action=inbox">
                    <i class="fa fa-envelope"></i>
                    <span>Mail </span>
                    <span class="label label-theme pull-right mail-info">2</span>
                </a>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
    </th:block>
<!--sidebar end-->
